[MultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MultiJet_TTj0b_norm[1.,0.,+INF]',
		      'MultiJet_TTj1b_norm[1.,0.,+INF]',
		      'MultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'MultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_MultiJet[1500.]','Ntot_TTj1b_MultiJet[1500.]', 'Ntot_TTj2b_MultiJet[700.]', 'Ntot_TTj3b_MultiJet[100.]',
	   	      'MRCut_MultiJet[400.]','RCut_MultiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MultiJet[-900.05]', 'R0_TTj0b_MultiJet[-0.07]', 'b_TTj0b_MultiJet[1.04]', 'n_TTj0b_MultiJet[3.7]',
	   	      'MR0_TTj1b_MultiJet[-900.05]', 'R0_TTj1b_MultiJet[-0.07]', 'b_TTj1b_MultiJet[1.04]', 'n_TTj1b_MultiJet[3.7]',
           	      'MR0_TTj2b_MultiJet[-480.84]', 'R0_TTj2b_MultiJet[-0.05]', 'b_TTj2b_MultiJet[1.06]', 'n_TTj2b_MultiJet[4.1]']
		      #'MR0_TTj0b_MultiJet[-400.05]', 'R0_TTj0b_MultiJet[-0.27]', 'b_TTj0b_MultiJet[1.4]', 'n_TTj0b_MultiJet[3.7]',
	   	      #'MR0_TTj1b_MultiJet[-400.05]', 'R0_TTj1b_MultiJet[-0.27]', 'b_TTj1b_MultiJet[1.4]', 'n_TTj1b_MultiJet[3.7]',
           	      #'MR0_TTj2b_MultiJet[-480.84]', 'R0_TTj2b_MultiJet[-0.25]', 'b_TTj2b_MultiJet[1.6]', 'n_TTj2b_MultiJet[4.1]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_TTj0b(th1x,MR0_TTj0b_MultiJet,R0_TTj0b_MultiJet,b_TTj0b_MultiJet,n_TTj0b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MultiJet_TTj1b(th1x,MR0_TTj1b_MultiJet,R0_TTj1b_MultiJet,b_TTj1b_MultiJet,n_TTj1b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MultiJet_TTj2b(th1x,MR0_TTj2b_MultiJet,R0_TTj2b_MultiJet,b_TTj2b_MultiJet,n_TTj2b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::MultiJet_TTj3b(th1x,MR0_TTj2b_MultiJet,R0_TTj2b_MultiJet,b_TTj2b_MultiJet,n_TTj2b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_MultiJet*MultiJet_TTj0b,Ntot_TTj1b_MultiJet*MultiJet_TTj1b,Ntot_TTj2b_MultiJet*MultiJet_TTj2b,Ntot_TTj3b_MultiJet*MultiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [400, 450, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]



[LooseLeptonMultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-1000.05]', 'R0_TTj0b[-2.7]', 'b_TTj0b[2.5]','n_TTj0b[7.5]',
	      'MR0_TTj1b[-1000.05]', 'R0_TTj1b[-4.]', 'b_TTj1b[0.1]','n_TTj1b[1.5]',
              'MR0_TTj2b[-180.84]', 'R0_TTj2b[-4.]', 'b_TTj2b[0.1]', 'n_TTj2b[1.2]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['LooseLeptonMultiJet_TTj0b_norm[1.,0.,+INF]',
		      'LooseLeptonMultiJet_TTj1b_norm[1.,0.,+INF]',
		      'LooseLeptonMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'LooseLeptonMultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_LooseLeptonMultiJet[500.]','Ntot_TTj1b_LooseLeptonMultiJet[400.]', 'Ntot_TTj2b_LooseLeptonMultiJet[200.]', 'Ntot_TTj3b_LooseLeptonMultiJet[30.]',
	   	      'MRCut_LooseLeptonMultiJet[400.]','RCut_LooseLeptonMultiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_LooseLeptonMultiJet[-900.05]', 'R0_TTj0b_LooseLeptonMultiJet[-0.7]', 'b_TTj0b_LooseLeptonMultiJet[1.4]', 'n_TTj0b_LooseLeptonMultiJet[7.0]',
	   	      'MR0_TTj1b_LooseLeptonMultiJet[-900.05]', 'R0_TTj1b_LooseLeptonMultiJet[-0.7]', 'b_TTj1b_LooseLeptonMultiJet[0.14]', 'n_TTj1b_LooseLeptonMultiJet[1.5]',
           	      'MR0_TTj2b_LooseLeptonMultiJet[-980.84]', 'R0_TTj2b_LooseLeptonMultiJet[-0.5]', 'b_TTj2b_LooseLeptonMultiJet[0.16]', 'n_TTj2b_LooseLeptonMultiJet[1.2]']
		      #'MR0_TTj0b_LooseLeptonMultiJet[-46.05]', 'R0_TTj0b_LooseLeptonMultiJet[-0.017]', 'b_TTj0b_LooseLeptonMultiJet[0.04]', 'n_TTj0b_LooseLeptonMultiJet[1.1]',
	   	      #'MR0_TTj1b_LooseLeptonMultiJet[-2000.05]', 'R0_TTj1b_LooseLeptonMultiJet[-1.7]', 'b_TTj1b_LooseLeptonMultiJet[0.2]', 'n_TTj1b_LooseLeptonMultiJet[1.4]',
           	      #'MR0_TTj2b_LooseLeptonMultiJet[100.]', 'R0_TTj2b_LooseLeptonMultiJet[-0.5]', 'b_TTj2b_LooseLeptonMultiJet[1.4]', 'n_TTj2b_LooseLeptonMultiJet[5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LooseLeptonMultiJet_TTj0b(th1x,MR0_TTj0b_LooseLeptonMultiJet,R0_TTj0b_LooseLeptonMultiJet,b_TTj0b_LooseLeptonMultiJet,n_TTj0b_LooseLeptonMultiJet,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::LooseLeptonMultiJet_TTj1b(th1x,MR0_TTj1b_LooseLeptonMultiJet,R0_TTj1b_LooseLeptonMultiJet,b_TTj1b_LooseLeptonMultiJet,n_TTj1b_LooseLeptonMultiJet,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::LooseLeptonMultiJet_TTj2b(th1x,MR0_TTj2b_LooseLeptonMultiJet,R0_TTj2b_LooseLeptonMultiJet,b_TTj2b_LooseLeptonMultiJet,n_TTj2b_LooseLeptonMultiJet,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::LooseLeptonMultiJet_TTj3b(th1x,MR0_TTj2b_LooseLeptonMultiJet,R0_TTj2b_LooseLeptonMultiJet,b_TTj2b_LooseLeptonMultiJet,n_TTj2b_LooseLeptonMultiJet,MRCut_LooseLeptonMultiJet,RCut_LooseLeptonMultiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_LooseLeptonMultiJet*LooseLeptonMultiJet_TTj0b,Ntot_TTj1b_LooseLeptonMultiJet*LooseLeptonMultiJet_TTj1b,Ntot_TTj2b_LooseLeptonMultiJet*LooseLeptonMultiJet_TTj2b,Ntot_TTj3b_LooseLeptonMultiJet*LooseLeptonMultiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [400, 450, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]



[EleMultiJet]
variables = ['MR[300.,300.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[300.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[300.,450.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[450.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[1000.]', 'Ntot_TTj1b[500.]', 'Ntot_TTj2b[200.]', 'Ntot_TTj3b[10.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['EleMultiJet_TTj0b_norm[1.,0.,+INF]',
		      'EleMultiJet_TTj1b_norm[1.,0.,+INF]',
		      'EleMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'EleMultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_EleMultiJet[800.]','Ntot_TTj1b_EleMultiJet[800.]', 'Ntot_TTj2b_EleMultiJet[500.]', 'Ntot_TTj3b_EleMultiJet[70.]',
	   	      'MRCut_EleMultiJet[300.]','RCut_EleMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #'MR0_TTj0b_EleMultiJet[-400.0]', 'R0_TTj0b_EleMultiJet[-0.1]', 'b_TTj0b_EleMultiJet[1.]', 'n_TTj0b_EleMultiJet[10.]',
	   	      #'MR0_TTj1b_EleMultiJet[-900.05]', 'R0_TTj1b_EleMultiJet[-0.7]', 'b_TTj1b_EleMultiJet[0.4]', 'n_TTj1b_EleMultiJet[2.1]',
           	      #'MR0_TTj2b_EleMultiJet[-580.84]', 'R0_TTj2b_EleMultiJet[-0.5]', 'b_TTj2b_EleMultiJet[1.6]', 'n_TTj2b_EleMultiJet[7.]']
		      'MR0_TTj0b_EleMultiJet[-800.05]', 'R0_TTj0b_EleMultiJet[-0.3]', 'b_TTj0b_EleMultiJet[2.6]', 'n_TTj0b_EleMultiJet[5.]',
	   	      'MR0_TTj1b_EleMultiJet[-200.05]', 'R0_TTj1b_EleMultiJet[-0.1]', 'b_TTj1b_EleMultiJet[0.3]', 'n_TTj1b_EleMultiJet[2.]',
           	      'MR0_TTj2b_EleMultiJet[-2500.]', 'R0_TTj2b_EleMultiJet[-10]', 'b_TTj2b_EleMultiJet[6.]', 'n_TTj2b_EleMultiJet[3.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::EleMultiJet_TTj0b(th1x,MR0_TTj0b_EleMultiJet,R0_TTj0b_EleMultiJet,b_TTj0b_EleMultiJet,n_TTj0b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::EleMultiJet_TTj1b(th1x,MR0_TTj1b_EleMultiJet,R0_TTj1b_EleMultiJet,b_TTj1b_EleMultiJet,n_TTj1b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::EleMultiJet_TTj2b(th1x,MR0_TTj2b_EleMultiJet,R0_TTj2b_EleMultiJet,b_TTj2b_EleMultiJet,n_TTj2b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::EleMultiJet_TTj3b(th1x,MR0_TTj2b_EleMultiJet,R0_TTj2b_EleMultiJet,b_TTj2b_EleMultiJet,n_TTj2b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_EleMultiJet*EleMultiJet_TTj0b,Ntot_TTj1b_EleMultiJet*EleMultiJet_TTj1b,Ntot_TTj2b_EleMultiJet*EleMultiJet_TTj2b,Ntot_TTj3b_EleMultiJet*EleMultiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [300, 350, 450, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

[MuMultiJet]
variables = ['MR[300.,300.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[300.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[300.,450.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[450.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MuMultiJet_TTj0b_norm[1.,0.,+INF]',
		      'MuMultiJet_TTj1b_norm[1.,0.,+INF]',
		      'MuMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'MuMultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[300.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #'MR0_TTj0b_MuMultiJet[-250.05]', 'R0_TTj0b_MuMultiJet[-0.09]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.9]',
	   	      #'MR0_TTj1b_MuMultiJet[-1230.05]', 'R0_TTj1b_MuMultiJet[-0.25]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.6]',
           	      #'MR0_TTj2b_MuMultiJet[-600.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.3]', 'n_TTj2b_MuMultiJet[3.3]']
		      'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [300, 350, 450, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]


