[MultiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[1500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b)']
	
combine_parameters = ['MultiJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_MultiJet[1500.]',
	   	      'MRCut_MultiJet[500.]','RCut_MultiJet[0.25]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_MultiJet[-900.05]', 'R0_TTj0b_MultiJet[-0.7]', 'b_TTj0b_MultiJet[1.4]', 'n_TTj0b_MultiJet[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_TTj0b(th1x,MR0_TTj0b_MultiJet,R0_TTj0b_MultiJet,b_TTj0b_MultiJet,n_TTj0b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_MultiJet*MultiJet_TTj0b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.]

[DiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[500.,600.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[600.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b']
	
combine_parameters = ['DiJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_DiJet[10000.]',
	   	      'MRCut_DiJet[500.]','RCut_DiJet[0.25]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_DiJet[-900.05]', 'R0_TTj0b_DiJet[-0.7]', 'b_TTj0b_DiJet[1.4]', 'n_TTj0b_DiJet[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::DiJet_TTj0b(th1x,MR0_TTj0b_DiJet,R0_TTj0b_DiJet,b_TTj0b_DiJet,n_TTj0b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_DiJet*DiJet_TTj0b)']
	
#signal and plotting binning
signal_MR =  [500, 600, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.]

[LeptonMultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[1000.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b)']
	
combine_parameters = ['LeptonMultiJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_LeptonMultiJet[800.]',
	   	      'MRCut_LeptonMultiJet[400.]','RCut_LeptonMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_LeptonMultiJet[-900.05]', 'R0_TTj0b_LeptonMultiJet[-0.7]', 'b_TTj0b_LeptonMultiJet[1.4]', 'n_TTj0b_LeptonMultiJet[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonMultiJet_TTj0b(th1x,MR0_TTj0b_LeptonMultiJet,R0_TTj0b_LeptonMultiJet,b_TTj0b_LeptonMultiJet,n_TTj0b_LeptonMultiJet,MRCut_LeptonMultiJet,RCut_LeptonMultiJet,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_LeptonMultiJet*LeptonMultiJet_TTj0b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.]


[LeptonJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[2000.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b)']
	
combine_parameters = ['LeptonJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_LeptonJet[2000.]',
	   	      'MRCut_LeptonJet[400.]','RCut_LeptonJet[0.15]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_LeptonJet[-900.05]', 'R0_TTj0b_LeptonJet[-0.7]', 'b_TTj0b_LeptonJet[1.4]', 'n_TTj0b_LeptonJet[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonJet_TTj0b(th1x,MR0_TTj0b_LeptonJet,R0_TTj0b_LeptonJet,b_TTj0b_LeptonJet,n_TTj0b_LeptonJet,MRCut_LeptonJet,RCut_LeptonJet,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_LeptonJet*LeptonJet_TTj0b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.]