[WJetControlRegion]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[400.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MuMultiJet[-500.05]', 'R0_TTj0b_MuMultiJet[-0.2]', 'b_TTj0b_MuMultiJet[6.0]', 'n_TTj0b_MuMultiJet[42]',
		      'MR0_TTj1b_MuMultiJet[-663.05]', 'R0_TTj1b_MuMultiJet[-0.28]', 'b_TTj1b_MuMultiJet[3.4]', 'n_TTj1b_MuMultiJet[7.2]',
           	      'MR0_TTj2b_MuMultiJet[-900.84]', 'R0_TTj2b_MuMultiJet[-0.6]', 'b_TTj2b_MuMultiJet[4.6]', 'n_TTj2b_MuMultiJet[7.0]',
		      'MR1_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Mean_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Sigma_TTj3b_MuMultiJet[8.5458e-04]']
		      #'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      #'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      #'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MR1_TTj3b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MuMultiJet(MR1_TTj3b_MuMultiJet,MR1Mean_TTj3b_MuMultiJet,MR1Sigma_TTj3b_MuMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MuMultiJet)']
	
#signal and plotting binning
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,4.]
#signal_nBtag = [0.,1.,2.,3.,4.]

[WJetInvControlRegion]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[400.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MuMultiJet[-500.05]', 'R0_TTj0b_MuMultiJet[-0.2]', 'b_TTj0b_MuMultiJet[6.0]', 'n_TTj0b_MuMultiJet[42]',
		      'MR0_TTj1b_MuMultiJet[-663.05]', 'R0_TTj1b_MuMultiJet[-0.28]', 'b_TTj1b_MuMultiJet[3.4]', 'n_TTj1b_MuMultiJet[7.2]',
           	      'MR0_TTj2b_MuMultiJet[-900.84]', 'R0_TTj2b_MuMultiJet[-0.6]', 'b_TTj2b_MuMultiJet[4.6]', 'n_TTj2b_MuMultiJet[7.0]',
		      'MR1_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Mean_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Sigma_TTj3b_MuMultiJet[8.5458e-04]']
		      #'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      #'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      #'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MR1_TTj3b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MuMultiJet(MR1_TTj3b_MuMultiJet,MR1Mean_TTj3b_MuMultiJet,MR1Sigma_TTj3b_MuMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MuMultiJet)']
	
#signal and plotting binning
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,4.]
#signal_nBtag = [0.,1.,2.,3.,4.]

[TTJetsSingleLeptonControlRegion]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[400.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MuMultiJet[-500.05]', 'R0_TTj0b_MuMultiJet[-0.2]', 'b_TTj0b_MuMultiJet[6.0]', 'n_TTj0b_MuMultiJet[42]',
		      'MR0_TTj1b_MuMultiJet[-663.05]', 'R0_TTj1b_MuMultiJet[-0.28]', 'b_TTj1b_MuMultiJet[3.4]', 'n_TTj1b_MuMultiJet[7.2]',
           	      'MR0_TTj2b_MuMultiJet[-900.84]', 'R0_TTj2b_MuMultiJet[-0.6]', 'b_TTj2b_MuMultiJet[4.6]', 'n_TTj2b_MuMultiJet[7.0]',
		      'MR1_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Mean_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Sigma_TTj3b_MuMultiJet[8.5458e-04]']
		      #'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      #'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      #'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MR1_TTj3b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MuMultiJet(MR1_TTj3b_MuMultiJet,MR1Mean_TTj3b_MuMultiJet,MR1Sigma_TTj3b_MuMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MuMultiJet)']
	
#signal and plotting binning
signal_MR =  [300, 400, 500, 600, 700, 900, 1200, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,4.]
#signal_nBtag = [0.,1.,2.,3.,4.]

[TTJetsDileptonControlRegion]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[400.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MuMultiJet[-500.05]', 'R0_TTj0b_MuMultiJet[-0.2]', 'b_TTj0b_MuMultiJet[6.0]', 'n_TTj0b_MuMultiJet[42]',
		      'MR0_TTj1b_MuMultiJet[-663.05]', 'R0_TTj1b_MuMultiJet[-0.28]', 'b_TTj1b_MuMultiJet[3.4]', 'n_TTj1b_MuMultiJet[7.2]',
           	      'MR0_TTj2b_MuMultiJet[-900.84]', 'R0_TTj2b_MuMultiJet[-0.6]', 'b_TTj2b_MuMultiJet[4.6]', 'n_TTj2b_MuMultiJet[7.0]',
		      'MR1_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Mean_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Sigma_TTj3b_MuMultiJet[8.5458e-04]']
		      #'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      #'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      #'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MR1_TTj3b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MuMultiJet(MR1_TTj3b_MuMultiJet,MR1Mean_TTj3b_MuMultiJet,MR1Sigma_TTj3b_MuMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MuMultiJet)']
	
#signal and plotting binning
signal_MR =  [300, 400, 500, 700, 900, 4000]
signal_Rsq = [0.15,0.20, 0.25,0.3,0.41,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

[VetoLeptonControlRegion]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[400.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MuMultiJet[-500.05]', 'R0_TTj0b_MuMultiJet[-0.2]', 'b_TTj0b_MuMultiJet[6.0]', 'n_TTj0b_MuMultiJet[42]',
		      'MR0_TTj1b_MuMultiJet[-663.05]', 'R0_TTj1b_MuMultiJet[-0.28]', 'b_TTj1b_MuMultiJet[3.4]', 'n_TTj1b_MuMultiJet[7.2]',
           	      'MR0_TTj2b_MuMultiJet[-900.84]', 'R0_TTj2b_MuMultiJet[-0.6]', 'b_TTj2b_MuMultiJet[4.6]', 'n_TTj2b_MuMultiJet[7.0]',
		      'MR1_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Mean_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Sigma_TTj3b_MuMultiJet[8.5458e-04]']
		      #'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      #'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      #'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MR1_TTj3b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MuMultiJet(MR1_TTj3b_MuMultiJet,MR1Mean_TTj3b_MuMultiJet,MR1Sigma_TTj3b_MuMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MuMultiJet)']
	
#signal and plotting binning
signal_MR =  [400, 500, 600, 700, 900, 1200, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]
