[MultiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MultiJet_TTj0b_norm[1.,0.,+INF]',
		      'MultiJet_TTj1b_norm[1.,0.,+INF]',
		      'MultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'MultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_MultiJet[1500.]','Ntot_TTj1b_MultiJet[1500.]', 'Ntot_TTj2b_MultiJet[700.]', 'Ntot_TTj3b_MultiJet[1.,0.,1000.]',
	   	      'MRCut_MultiJet[500.]','RCut_MultiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MultiJet[-900.05]', 'R0_TTj0b_MultiJet[-0.7]', 'b_TTj0b_MultiJet[1.4]', 'n_TTj0b_MultiJet[3.7]',
	   	      'MR0_TTj1b_MultiJet[-900.05]', 'R0_TTj1b_MultiJet[-0.7]', 'b_TTj1b_MultiJet[1.4]', 'n_TTj1b_MultiJet[3.7]',
           	      'MR0_TTj2b_MultiJet[-480.84]', 'R0_TTj2b_MultiJet[-0.5]', 'b_TTj2b_MultiJet[1.6]', 'n_TTj2b_MultiJet[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_TTj0b(th1x,MR0_TTj0b_MultiJet,R0_TTj0b_MultiJet,b_TTj0b_MultiJet,n_TTj0b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MultiJet_TTj1b(th1x,MR0_TTj1b_MultiJet,R0_TTj1b_MultiJet,b_TTj1b_MultiJet,n_TTj1b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MultiJet_TTj2b(th1x,MR0_TTj2b_MultiJet,R0_TTj2b_MultiJet,b_TTj2b_MultiJet,n_TTj2b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::MultiJet_TTj3b(th1x,MR0_TTj2b_MultiJet,R0_TTj2b_MultiJet,b_TTj2b_MultiJet,n_TTj2b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_MultiJet*MultiJet_TTj0b,Ntot_TTj1b_MultiJet*MultiJet_TTj1b,Ntot_TTj2b_MultiJet*MultiJet_TTj2b,Ntot_TTj3b_MultiJet*MultiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.,2.,3.,4.]

[MultiJet_0b]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[1500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b)']
	
combine_parameters = ['MultiJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_MultiJet_0b[1500.]',
	   	      'MRCut_MultiJet_0b[500.]','RCut_MultiJet_0b[0.25]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_MultiJet_0b[-900.05]', 'R0_TTj0b_MultiJet_0b[-0.7]', 'b_TTj0b_MultiJet_0b[1.4]', 'n_TTj0b_MultiJet_0b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_0b_TTj0b(th1x,MR0_TTj0b_MultiJet_0b,R0_TTj0b_MultiJet_0b,b_TTj0b_MultiJet_0b,n_TTj0b_MultiJet_0b,MRCut_MultiJet_0b,RCut_MultiJet_0b,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_MultiJet_0b*MultiJet_0b_TTj0b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.]

[MultiJet_1b]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[1.,1.,2.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,2.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[1.,2.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[1.,2.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'Ntot_TTj1b[1500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b)']
	
combine_parameters = ['MultiJet_TTj1b_norm[1.,0.,+INF]',
		      'Ntot_TTj1b_MultiJet_1b[1500.]',
	   	      'MRCut_MultiJet_1b[500.]','RCut_MultiJet_1b[0.25]',
	   	      'BtagCut_TTj1b[1]',
	   	      'MR0_TTj1b_MultiJet_1b[-900.05]', 'R0_TTj1b_MultiJet_1b[-0.7]', 'b_TTj1b_MultiJet_1b[1.4]', 'n_TTj1b_MultiJet_1b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_1b_TTj1b(th1x,MR0_TTj1b_MultiJet_1b,R0_TTj1b_MultiJet_1b,b_TTj1b_MultiJet_1b,n_TTj1b_MultiJet_1b,MRCut_MultiJet_1b,RCut_MultiJet_1b,BtagCut_TTj1b)',
		'SUM::extRazorPdf(Ntot_TTj1b_MultiJet_1b*MultiJet_1b_TTj1b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [1.,2.]

[MultiJet_2b]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[2.,2.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[2.,4.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[2.,4.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[2.,4.]']
		
parameters = ['MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['MultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'MultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj2b_MultiJet_2b[700.]', 'Ntot_TTj3b_MultiJet_2b[1.,0.,1000.]',
	   	      'MRCut_MultiJet_2b[500.]','RCut_MultiJet_2b[0.25]',
		      'BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
           	      'MR0_TTj2b_MultiJet_2b[-480.84]', 'R0_TTj2b_MultiJet_2b[-0.5]', 'b_TTj2b_MultiJet_2b[1.6]', 'n_TTj2b_MultiJet_2b[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_2b_TTj2b(th1x,MR0_TTj2b_MultiJet_2b,R0_TTj2b_MultiJet_2b,b_TTj2b_MultiJet_2b,n_TTj2b_MultiJet_2b,MRCut_MultiJet_2b,RCut_MultiJet_2b,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::MultiJet_2b_TTj3b(th1x,MR0_TTj2b_MultiJet_2b,R0_TTj2b_MultiJet_2b,b_TTj2b_MultiJet_2b,n_TTj2b_MultiJet_2b,MRCut_MultiJet_2b,RCut_MultiJet_2b,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj2b_MultiJet_2b*MultiJet_2b_TTj2b,Ntot_TTj3b_MultiJet_2b*MultiJet_2b_TTj3b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [2.,3.,4.]

[DiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[0.,0.,3.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,3.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[0.,3.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[0.,3.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b']
	
combine_parameters = ['DiJet_TTj0b_norm[1.,0.,+INF]',
		      'DiJet_TTj1b_norm[1.,0.,+INF]',
		      'DiJet_TTj2b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_DiJet[10000.]', 'Ntot_TTj1b_DiJet[2000.]', 'Ntot_TTj2b_DiJet[200.]',
	   	      'MRCut_DiJet[500.]','RCut_DiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]',
		      'MR0_TTj0b_DiJet[-900.05]', 'R0_TTj0b_DiJet[-0.7]', 'b_TTj0b_DiJet[1.4]', 'n_TTj0b_DiJet[3.7]',
	   	      'MR0_TTj1b_DiJet[-900.05]', 'R0_TTj1b_DiJet[-0.7]', 'b_TTj1b_DiJet[1.4]', 'n_TTj1b_DiJet[3.7]',
           	      'MR0_TTj2b_DiJet[-480.84]', 'R0_TTj2b_DiJet[-0.5]', 'b_TTj2b_DiJet[1.6]', 'n_TTj2b_DiJet[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::DiJet_TTj0b(th1x,MR0_TTj0b_DiJet,R0_TTj0b_DiJet,b_TTj0b_DiJet,n_TTj0b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::DiJet_TTj1b(th1x,MR0_TTj1b_DiJet,R0_TTj1b_DiJet,b_TTj1b_DiJet,n_TTj1b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::DiJet_TTj2b(th1x,MR0_TTj2b_DiJet,R0_TTj2b_DiJet,b_TTj2b_DiJet,n_TTj2b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj2b)',
		'SUM::extRazorPdf(Ntot_TTj0b_DiJet*DiJet_TTj0b,Ntot_TTj1b_DiJet*DiJet_TTj1b,Ntot_TTj2b_DiJet*DiJet_TTj2b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.,2.,3.]


[DiJet_0b]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[1500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b']
	
combine_parameters = ['DiJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_DiJet_0b[10000.]',
	   	      'MRCut_DiJet_0b[500.]','RCut_DiJet_0b[0.25]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_DiJet_0b[-900.05]', 'R0_TTj0b_DiJet_0b[-0.7]', 'b_TTj0b_DiJet_0b[1.4]', 'n_TTj0b_DiJet_0b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::DiJet_0b_TTj0b(th1x,MR0_TTj0b_DiJet_0b,R0_TTj0b_DiJet_0b,b_TTj0b_DiJet_0b,n_TTj0b_DiJet_0b,MRCut_DiJet_0b,RCut_DiJet_0b,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_DiJet_0b*DiJet_0b_TTj0b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.]


[DiJet_1b]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[1.,1.,2.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,2.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[1.,2.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,0.8]', 'nBtag_HighMR[1.,2.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'Ntot_TTj1b[1500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b)']
	
combine_parameters = ['DiJet_TTj1b_norm[1.,0.,+INF]',
		      'Ntot_TTj1b_DiJet_1b[2000.]',
	   	      'MRCut_DiJet_1b[500.]','RCut_DiJet_1b[0.25]',
		      'BtagCut_TTj1b[1]',
	   	      'MR0_TTj1b_DiJet_1b[-900.05]', 'R0_TTj1b_DiJet_1b[-0.7]', 'b_TTj1b_DiJet_1b[1.4]', 'n_TTj1b_DiJet_1b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::DiJet_1b_TTj1b(th1x,MR0_TTj1b_DiJet_1b,R0_TTj1b_DiJet_1b,b_TTj1b_DiJet_1b,n_TTj1b_DiJet_1b,MRCut_DiJet_1b,RCut_DiJet_1b,BtagCut_TTj1b)',
		'SUM::extRazorPdf(Ntot_TTj1b_DiJet_1b*DiJet_1b_TTj1b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [1.,2.]

[DiJet_2b]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,0.8]', 'nBtag[2.,2.,3.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[2.,3.]',
		   'MR_LowMR[500.,650.]', 'Rsq_LowMR[0.3,0.8]', 'nBtag_LowMR[2.,3.]',
		   'MR_HighMR[650.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[2.,3.]']
		
parameters = ['MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
	      'Ntot_TTj2b[700.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'SUM::extRazorPdf(Ntot_TTj2b*razor3dPdf_TTj2b)']
	
combine_parameters = ['DiJet_TTj2b_norm[1.,0.,+INF]',
		      'Ntot_TTj2b_DiJet_2b[200.]',
	   	      'MRCut_DiJet_2b[500.]','RCut_DiJet_2b[0.25]',
		      'BtagCut_TTj2b[2]',
           	      'MR0_TTj2b_DiJet_2b[-480.84]', 'R0_TTj2b_DiJet_2b[-0.5]', 'b_TTj2b_DiJet_2b[1.6]', 'n_TTj2b_DiJet_2b[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::DiJet_2b_TTj2b(th1x,MR0_TTj2b_DiJet_2b,R0_TTj2b_DiJet_2b,b_TTj2b_DiJet_2b,n_TTj2b_DiJet_2b,MRCut_DiJet_2b,RCut_DiJet_2b,BtagCut_TTj2b)',
		'SUM::extRazorPdf(Ntot_TTj2b_DiJet_2b*DiJet_2b_TTj2b)']
	
#signal and plotting binning
signal_MR =  [500, 575, 650, 750, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [2.,3.]

[LeptonMultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[1000.]', 'Ntot_TTj1b[500.]', 'Ntot_TTj2b[200.]', 'Ntot_TTj3b[10.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['LeptonMultiJet_TTj0b_norm[1.,0.,+INF]',
		      'LeptonMultiJet_TTj1b_norm[1.,0.,+INF]',
		      'LeptonMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'LeptonMultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_LeptonMultiJet[800.]','Ntot_TTj1b_LeptonMultiJet[800.]', 'Ntot_TTj2b_LeptonMultiJet[500.]', 'Ntot_TTj3b_LeptonMultiJet[70.]',
	   	      'MRCut_LeptonMultiJet[400.]','RCut_LeptonMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_LeptonMultiJet[-900.05]', 'R0_TTj0b_LeptonMultiJet[-0.7]', 'b_TTj0b_LeptonMultiJet[1.4]', 'n_TTj0b_LeptonMultiJet[3.7]',
	   	      'MR0_TTj1b_LeptonMultiJet[-900.05]', 'R0_TTj1b_LeptonMultiJet[-0.7]', 'b_TTj1b_LeptonMultiJet[1.4]', 'n_TTj1b_LeptonMultiJet[3.7]',
           	      'MR0_TTj2b_LeptonMultiJet[-480.84]', 'R0_TTj2b_LeptonMultiJet[-0.5]', 'b_TTj2b_LeptonMultiJet[1.6]', 'n_TTj2b_LeptonMultiJet[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonMultiJet_TTj0b(th1x,MR0_TTj0b_LeptonMultiJet,R0_TTj0b_LeptonMultiJet,b_TTj0b_LeptonMultiJet,n_TTj0b_LeptonMultiJet,MRCut_LeptonMultiJet,RCut_LeptonMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::LeptonMultiJet_TTj1b(th1x,MR0_TTj1b_LeptonMultiJet,R0_TTj1b_LeptonMultiJet,b_TTj1b_LeptonMultiJet,n_TTj1b_LeptonMultiJet,MRCut_LeptonMultiJet,RCut_LeptonMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::LeptonMultiJet_TTj2b(th1x,MR0_TTj2b_LeptonMultiJet,R0_TTj2b_LeptonMultiJet,b_TTj2b_LeptonMultiJet,n_TTj2b_LeptonMultiJet,MRCut_LeptonMultiJet,RCut_LeptonMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::LeptonMultiJet_TTj3b(th1x,MR0_TTj2b_LeptonMultiJet,R0_TTj2b_LeptonMultiJet,b_TTj2b_LeptonMultiJet,n_TTj2b_LeptonMultiJet,MRCut_LeptonMultiJet,RCut_LeptonMultiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_LeptonMultiJet*LeptonMultiJet_TTj0b,Ntot_TTj1b_LeptonMultiJet*LeptonMultiJet_TTj1b,Ntot_TTj2b_LeptonMultiJet*LeptonMultiJet_TTj2b,Ntot_TTj3b_LeptonMultiJet*LeptonMultiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.,2.,3.,4.]

[LeptonMultiJet_0b]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[1000.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b)']
	
combine_parameters = ['LeptonMultiJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_LeptonMultiJet_0b[800.]',
	   	      'MRCut_LeptonMultiJet_0b[400.]','RCut_LeptonMultiJet_0b[0.15]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_LeptonMultiJet_0b[-900.05]', 'R0_TTj0b_LeptonMultiJet_0b[-0.7]', 'b_TTj0b_LeptonMultiJet_0b[1.4]', 'n_TTj0b_LeptonMultiJet_0b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonMultiJet_0b_TTj0b(th1x,MR0_TTj0b_LeptonMultiJet_0b,R0_TTj0b_LeptonMultiJet_0b,b_TTj0b_LeptonMultiJet_0b,n_TTj0b_LeptonMultiJet_0b,MRCut_LeptonMultiJet_0b,RCut_LeptonMultiJet_0b,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_LeptonMultiJet_0b*LeptonMultiJet_0b_TTj0b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.]

[LeptonMultiJet_1b]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[1.,1.,2.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,2.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[1.,2.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[1.,2.]']
		
parameters = ['MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'Ntot_TTj1b[500.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b)']
	
combine_parameters = ['LeptonMultiJet_TTj1b_norm[1.,0.,+INF]',
		      'Ntot_TTj1b_LeptonMultiJet_1b[800.]', 
	   	      'MRCut_LeptonMultiJet_1b[400.]','RCut_LeptonMultiJet_1b[0.15]',
	   	      'BtagCut_TTj1b[1]',
	   	      'MR0_TTj1b_LeptonMultiJet_1b[-900.05]', 'R0_TTj1b_LeptonMultiJet_1b[-0.7]', 'b_TTj1b_LeptonMultiJet_1b[1.4]', 'n_TTj1b_LeptonMultiJet_1b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonMultiJet_1b_TTj1b(th1x,MR0_TTj1b_LeptonMultiJet_1b,R0_TTj1b_LeptonMultiJet_1b,b_TTj1b_LeptonMultiJet_1b,n_TTj1b_LeptonMultiJet_1b,MRCut_LeptonMultiJet_1b,RCut_LeptonMultiJet_1b,BtagCut_TTj1b)',
		'SUM::extRazorPdf(Ntot_TTj1b_LeptonMultiJet_1b*LeptonMultiJet_1b_TTj1b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [1.,2.]

[LeptonMultiJet_2b]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[2.,2.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[2.,4.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[2.,4.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[2.,4.]']
		
parameters = ['MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
	      'Ntot_TTj2b[200.]', 'Ntot_TTj3b[10.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['LeptonMultiJet_TTj2b_norm[1.,0.,+INF]',
           	      'LeptonMultiJet_TTj3b_norm[1.,0.,+INF]',
		      'Ntot_TTj2b_LeptonMultiJet_2b[500.]', 'Ntot_TTj3b_LeptonMultiJet_2b[70.]',
	   	      'MRCut_LeptonMultiJet_2b[400.]','RCut_LeptonMultiJet_2b[0.15]',
		      'BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
           	      'MR0_TTj2b_LeptonMultiJet_2b[-480.84]', 'R0_TTj2b_LeptonMultiJet_2b[-0.5]', 'b_TTj2b_LeptonMultiJet_2b[1.6]', 'n_TTj2b_LeptonMultiJet_2b[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonMultiJet_2b_TTj2b(th1x,MR0_TTj2b_LeptonMultiJet_2b,R0_TTj2b_LeptonMultiJet_2b,b_TTj2b_LeptonMultiJet_2b,n_TTj2b_LeptonMultiJet_2b,MRCut_LeptonMultiJet_2b,RCut_LeptonMultiJet_2b,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::LeptonMultiJet_2b_TTj3b(th1x,MR0_TTj2b_LeptonMultiJet_2b,R0_TTj2b_LeptonMultiJet_2b,b_TTj2b_LeptonMultiJet_2b,n_TTj2b_LeptonMultiJet_2b,MRCut_LeptonMultiJet_2b,RCut_LeptonMultiJet_2b,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj2b_LeptonMultiJet_2b*LeptonMultiJet_2b_TTj2b,Ntot_TTj3b_LeptonMultiJet_2b*LeptonMultiJet_2b_TTj3b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [2.,3.,4.]

[LeptonJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[0.,0.,3.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,3.]',
                   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[0.,3.]',
                   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[0.,3.]']

parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']

pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
        'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
        'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
        'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
        'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
        'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
        'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
        'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
        'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
        'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b)']

combine_parameters = ['LeptonJet_TTj0b_norm[1.,0.,+INF]',
                      'LeptonJet_TTj1b_norm[1.,0.,+INF]',
                      'LeptonJet_TTj2b_norm[1.,0.,+INF]',
                      'Ntot_TTj0b_LeptonJet[2000.]','Ntot_TTj1b_LeptonJet[1000.]', 'Ntot_TTj2b_LeptonJet[700.]',
                      'MRCut_LeptonJet[400.]','RCut_LeptonJet[0.15]',
                      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]',
                      'MR0_TTj0b_LeptonJet[-900.05]', 'R0_TTj0b_LeptonJet[-0.7]', 'b_TTj0b_LeptonJet[1.4]', 'n_TTj0b_LeptonJet[3.7]',
                      'MR0_TTj1b_LeptonJet[-900.05]', 'R0_TTj1b_LeptonJet[-0.7]', 'b_TTj1b_LeptonJet[1.4]', 'n_TTj1b_LeptonJet[3.7]',
                      'MR0_TTj2b_LeptonJet[-480.84]', 'R0_TTj2b_LeptonJet[-0.5]', 'b_TTj2b_LeptonJet[1.6]', 'n_TTj2b_LeptonJet[4.]']

combine_pdfs = ['RooRazor3DBinPdf::LeptonJet_TTj0b(th1x,MR0_TTj0b_LeptonJet,R0_TTj0b_LeptonJet,b_TTj0b_LeptonJet,n_TTj0b_LeptonJet,MRCut_LeptonJet,RCut_LeptonJet,BtagCut_TTj0b)',
                'RooRazor3DBinPdf::LeptonJet_TTj1b(th1x,MR0_TTj1b_LeptonJet,R0_TTj1b_LeptonJet,b_TTj1b_LeptonJet,n_TTj1b_LeptonJet,MRCut_LeptonJet,RCut_LeptonJet,BtagCut_TTj1b)',
                'RooRazor3DBinPdf::LeptonJet_TTj2b(th1x,MR0_TTj2b_LeptonJet,R0_TTj2b_LeptonJet,b_TTj2b_LeptonJet,n_TTj2b_LeptonJet,MRCut_LeptonJet,RCut_LeptonJet,BtagCut_TTj2b)',
                'SUM::extRazorPdf(Ntot_TTj0b_LeptonJet*LeptonJet_TTj0b,Ntot_TTj1b_LeptonJet*LeptonJet_TTj1b,Ntot_TTj2b_LeptonJet*LeptonJet_TTj2b)']

#signal and plotting binning                                                                                                                                                       
#signal_MR =  [400, 500, 600, 700, 900, 1200, 1600, 2500, 4000]                                                                                                                    
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
#signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8,0.8]                                                                                                                         
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.,2.,3.]


[LeptonJet_0b]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[0.,0.,1.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,1.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[0.,1.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[0.,1.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
              'Ntot_TTj0b[2000.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b)']
	
combine_parameters = ['LeptonJet_TTj0b_norm[1.,0.,+INF]',
		      'Ntot_TTj0b_LeptonJet_0b[2000.]',
	   	      'MRCut_LeptonJet_0b[400.]','RCut_LeptonJet_0b[0.15]',
	   	      'BtagCut_TTj0b[0]',
		      'MR0_TTj0b_LeptonJet_0b[-900.05]', 'R0_TTj0b_LeptonJet_0b[-0.7]', 'b_TTj0b_LeptonJet_0b[1.4]', 'n_TTj0b_LeptonJet_0b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonJet_0b_TTj0b(th1x,MR0_TTj0b_LeptonJet_0b,R0_TTj0b_LeptonJet_0b,b_TTj0b_LeptonJet_0b,n_TTj0b_LeptonJet_0b,MRCut_LeptonJet_0b,RCut_LeptonJet_0b,BtagCut_TTj0b)',
		'SUM::extRazorPdf(Ntot_TTj0b_LeptonJet_0b*LeptonJet_0b_TTj0b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [0.,1.]

[LeptonJet_1b]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[1.,1.,2.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,2.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[1.,2.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[1.,2.]']
		
parameters = ['MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj2b[700.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'SUM::extRazorPdf(Ntot_TTj1b*razor3dPdf_TTj1b)']
	
combine_parameters = ['LeptonJet_TTj1b_norm[1.,0.,+INF]',
		      'Ntot_TTj1b_LeptonJet_1b[1000.]',
	   	      'MRCut_LeptonJet_1b[400.]','RCut_LeptonJet_1b[0.15]',
	   	      'BtagCut_TTj1b[1]',
	   	      'MR0_TTj1b_LeptonJet_1b[-900.05]', 'R0_TTj1b_LeptonJet_1b[-0.7]', 'b_TTj1b_LeptonJet_1b[1.4]', 'n_TTj1b_LeptonJet_1b[3.7]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonJet_1b_TTj1b(th1x,MR0_TTj1b_LeptonJet_1b,R0_TTj1b_LeptonJet_1b,b_TTj1b_LeptonJet_1b,n_TTj1b_LeptonJet_1b,MRCut_LeptonJet_1b,RCut_LeptonJet_1b,BtagCut_TTj1b)',
		'SUM::extRazorPdf(Ntot_TTj1b_LeptonJet_1b*LeptonJet_1b_TTj1b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [1.,2.]

[LeptonJet_2b]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,0.8]', 'nBtag[2.,2.,3.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[2.,3.]',
		   'MR_LowMR[400.,550.]', 'Rsq_LowMR[0.2,0.8]', 'nBtag_LowMR[2.,3.]',
		   'MR_HighMR[550.,4000.]', 'Rsq_HighMR[0.2,0.8]', 'nBtag_HighMR[2.,3.]']
		
parameters = ['MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj2b[700.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'SUM::extRazorPdf(Ntot_TTj2b*razor3dPdf_TTj2b)']
	
combine_parameters = ['LeptonJet_TTj2b_norm[1.,0.,+INF]',
		      'Ntot_TTj2b_LeptonJet_2b[700.]',
	   	      'MRCut_LeptonJet_2b[400.]','RCut_LeptonJet_2b[0.15]',
		      'BtagCut_TTj2b[2]',
           	      'MR0_TTj2b_LeptonJet_2b[-480.84]', 'R0_TTj2b_LeptonJet_2b[-0.5]', 'b_TTj2b_LeptonJet_2b[1.6]', 'n_TTj2b_LeptonJet_2b[4.]']
		      
combine_pdfs = ['RooRazor3DBinPdf::LeptonJet_2b_TTj2b(th1x,MR0_TTj2b_LeptonJet_2b,R0_TTj2b_LeptonJet_2b,b_TTj2b_LeptonJet_2b,n_TTj2b_LeptonJet_2b,MRCut_LeptonJet_2b,RCut_LeptonJet_2b,BtagCut_TTj2b)',
		'SUM::extRazorPdf(Ntot_TTj2b_LeptonJet_2b*LeptonJet_2b_TTj2b)']
	
#signal and plotting binning
signal_MR =  [400, 475, 550, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,0.8]
signal_nBtag = [2.,3.]
