[MultiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[500.,600.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[600.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'MR0_TTj3b[-480.84]', 'R0_TTj3b[-0.5]', 'b_TTj3b[1.6]', 'n_TTj3b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj3b,R0_TTj3b,b_TTj3b,n_TTj3b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MultiJet[1500.]','Ntot_TTj1b_MultiJet[1500.]', 'Ntot_TTj2b_MultiJet[700.]', 'Ntot_TTj3b_MultiJet[100.]',
	   	      'MRCut_MultiJet[500.]','RCut_MultiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #initial parameters 		    
		      'MR0_TTj0b_MultiJet[-1020.05]', 'R0_TTj0b_MultiJet[-0.934]', 'b_TTj0b_MultiJet[6.48]', 'n_TTj0b_MultiJet[15.8]',
	   	      'MR0_TTj1b_MultiJet[-440.05]', 'R0_TTj1b_MultiJet[-0.476]', 'b_TTj1b_MultiJet[2.32]', 'n_TTj1b_MultiJet[5.3]',
           	      'MR0_TTj2b_MultiJet[-100.84]', 'R0_TTj2b_MultiJet[-0.5]', 'b_TTj2b_MultiJet[3.0]', 'n_TTj2b_MultiJet[10.8]',
           	      'MR1_TTj3b_MultiJet[5.3133e-04]', 'MR1Mean_TTj3b_MultiJet[5.3133e-04]', 'MR1Sigma_TTj3b_MultiJet[5.3133e-04]']
		     
		      
combine_pdfs = ['RooRazor3DBinPdf::MultiJet_TTj0b(th1x,MR0_TTj0b_MultiJet,R0_TTj0b_MultiJet,b_TTj0b_MultiJet,n_TTj0b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MultiJet_TTj1b(th1x,MR0_TTj1b_MultiJet,R0_TTj1b_MultiJet,b_TTj1b_MultiJet,n_TTj1b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MultiJet_TTj2b(th1x,MR0_TTj2b_MultiJet,R0_TTj2b_MultiJet,b_TTj2b_MultiJet,n_TTj2b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MultiJet_TTj3b(th1x,MR0_TTj2b_MultiJet,R0_TTj2b_MultiJet,b_TTj2b_MultiJet,n_TTj2b_MultiJet,MR1_TTj3b_MultiJet,MRCut_MultiJet,RCut_MultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MultiJet(MR1_TTj3b_MultiJet,MR1Mean_TTj3b_MultiJet,MR1Sigma_TTj3b_MultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MultiJet*MultiJet_TTj0b,Ntot_TTj1b_MultiJet*MultiJet_TTj1b,Ntot_TTj2b_MultiJet*MultiJet_TTj2b,Ntot_TTj3b_MultiJet*MultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MultiJet)']
	
#signal and plotting binning
signal_MR =  [500,600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

[DiJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[500.,600.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[600.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'MR0_TTj3b[-480.84]', 'R0_TTj3b[-0.5]', 'b_TTj3b[1.6]', 'n_TTj3b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj3b,R0_TTj3b,b_TTj3b,n_TTj3b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_DiJet[1500.]','Ntot_TTj1b_DiJet[1500.]', 'Ntot_TTj2b_DiJet[700.]', 'Ntot_TTj3b_DiJet[100.]',
	   	      'MRCut_DiJet[500.]','RCut_DiJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #initial parameters 		    
		      'MR0_TTj0b_DiJet[-200.]', 'R0_TTj0b_DiJet[-0.6]', 'b_TTj0b_DiJet[3]', 'n_TTj0b_DiJet[10]',
	   	      'MR0_TTj1b_DiJet[-900.]', 'R0_TTj1b_DiJet[-1.5]', 'b_TTj1b_DiJet[3]', 'n_TTj1b_DiJet[10]',
           	      'MR0_TTj2b_DiJet[-400.]', 'R0_TTj2b_DiJet[-1.6]', 'b_TTj2b_DiJet[1]', 'n_TTj2b_DiJet[4]']
		     
		      
combine_pdfs = ['RooRazor3DBinPdf::DiJet_TTj0b(th1x,MR0_TTj0b_DiJet,R0_TTj0b_DiJet,b_TTj0b_DiJet,n_TTj0b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::DiJet_TTj1b(th1x,MR0_TTj1b_DiJet,R0_TTj1b_DiJet,b_TTj1b_DiJet,n_TTj1b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::DiJet_TTj2b(th1x,MR0_TTj2b_DiJet,R0_TTj2b_DiJet,b_TTj2b_DiJet,n_TTj2b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinPdf::DiJet_TTj3b(th1x,MR0_TTj2b_DiJet,R0_TTj2b_DiJet,b_TTj2b_DiJet,n_TTj2b_DiJet,MRCut_DiJet,RCut_DiJet,BtagCut_TTj3b)',
		'SUM::extRazorPdf(Ntot_TTj0b_DiJet*DiJet_TTj0b,Ntot_TTj1b_DiJet*DiJet_TTj1b,Ntot_TTj2b_DiJet*DiJet_TTj2b,Ntot_TTj3b_DiJet*DiJet_TTj3b)']
	
#signal and plotting binning
signal_MR =  [500,600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]


[EleMultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[1000.]', 'Ntot_TTj1b[500.]', 'Ntot_TTj2b[200.]', 'Ntot_TTj3b[10.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_EleMultiJet[800.]','Ntot_TTj1b_EleMultiJet[800.]', 'Ntot_TTj2b_EleMultiJet[500.]', 'Ntot_TTj3b_EleMultiJet[70.]',
	   	      'MRCut_EleMultiJet[400.]','RCut_EleMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #'MR0_TTj0b_EleMultiJet[-400.0]', 'R0_TTj0b_EleMultiJet[-0.18]', 'b_TTj0b_EleMultiJet[4.2]', 'n_TTj0b_EleMultiJet[15.]',
	   	      #'MR0_TTj1b_EleMultiJet[-900.05]', 'R0_TTj1b_EleMultiJet[-0.7]', 'b_TTj1b_EleMultiJet[0.4]', 'n_TTj1b_EleMultiJet[2.1]',
           	      #'MR0_TTj2b_EleMultiJet[-580.84]', 'R0_TTj2b_EleMultiJet[-0.5]', 'b_TTj2b_EleMultiJet[1.6]', 'n_TTj2b_EleMultiJet[7.]']
		      'MR0_TTj0b_EleMultiJet[-1000.05]', 'R0_TTj0b_EleMultiJet[-0.6]', 'b_TTj0b_EleMultiJet[10]', 'n_TTj0b_EleMultiJet[50.]',
	   	      'MR0_TTj1b_EleMultiJet[-300.05]', 'R0_TTj1b_EleMultiJet[-0.1]', 'b_TTj1b_EleMultiJet[0.03]', 'n_TTj1b_EleMultiJet[1.]',
           	      'MR0_TTj2b_EleMultiJet[-2500.]', 'R0_TTj2b_EleMultiJet[-10]', 'b_TTj2b_EleMultiJet[7.]', 'n_TTj2b_EleMultiJet[100.]',
		      'MR1_TTj3b_EleMultiJet[7.8621e-04]', 'MR1Mean_TTj3b_EleMultiJet[7.8621e-04]', 'MR1Sigma_TTj3b_EleMultiJet[7.8621e-04]']
		      #'MR1_TTj3b_EleMultiJet[0]', 'MR1Mean_TTj3b_EleMultiJet[0]', 'MR1Sigma_TTj3b_EleMultiJet[7.8621e-04]']
		      
combine_pdfs = ['RooRazor3DBinPdf::EleMultiJet_TTj0b(th1x,MR0_TTj0b_EleMultiJet,R0_TTj0b_EleMultiJet,b_TTj0b_EleMultiJet,n_TTj0b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::EleMultiJet_TTj1b(th1x,MR0_TTj1b_EleMultiJet,R0_TTj1b_EleMultiJet,b_TTj1b_EleMultiJet,n_TTj1b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::EleMultiJet_TTj2b(th1x,MR0_TTj2b_EleMultiJet,R0_TTj2b_EleMultiJet,b_TTj2b_EleMultiJet,n_TTj2b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::EleMultiJet_TTj3b(th1x,MR0_TTj2b_EleMultiJet,R0_TTj2b_EleMultiJet,b_TTj2b_EleMultiJet,n_TTj2b_EleMultiJet,MR1_TTj3b_EleMultiJet,MRCut_EleMultiJet,RCut_EleMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_EleMultiJet(MR1_TTj3b_EleMultiJet,MR1Mean_TTj3b_EleMultiJet,MR1Sigma_TTj3b_EleMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_EleMultiJet*EleMultiJet_TTj0b,Ntot_TTj1b_EleMultiJet*EleMultiJet_TTj1b,Ntot_TTj2b_EleMultiJet*EleMultiJet_TTj2b,Ntot_TTj3b_EleMultiJet*EleMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_EleMultiJet)']
	
#signal and plotting binning
signal_MR =  [400, 500, 600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

[MuMultiJet]
variables = ['MR[400.,400.,4000.]', 'Rsq[0.15,0.15,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[400.,4000.]', 'Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[400.,500.]', 'Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[500.,4000.]', 'Rsq_HighMR[0.2,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'Ntot_TTj0b[2000.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_MuMultiJet[2000.]','Ntot_TTj1b_MuMultiJet[1000.]', 'Ntot_TTj2b_MuMultiJet[700.]', 'Ntot_TTj3b_MuMultiJet[100.]',
	   	      'MRCut_MuMultiJet[400.]','RCut_MuMultiJet[0.15]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      'MR0_TTj0b_MuMultiJet[-500.05]', 'R0_TTj0b_MuMultiJet[-0.2]', 'b_TTj0b_MuMultiJet[6.0]', 'n_TTj0b_MuMultiJet[42]',
		      'MR0_TTj1b_MuMultiJet[-663.05]', 'R0_TTj1b_MuMultiJet[-0.28]', 'b_TTj1b_MuMultiJet[3.4]', 'n_TTj1b_MuMultiJet[7.2]',
           	      'MR0_TTj2b_MuMultiJet[-900.84]', 'R0_TTj2b_MuMultiJet[-0.6]', 'b_TTj2b_MuMultiJet[4.6]', 'n_TTj2b_MuMultiJet[7.0]',
		      'MR1_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Mean_TTj3b_MuMultiJet[8.5458e-04]', 'MR1Sigma_TTj3b_MuMultiJet[8.5458e-04]']
		      #'MR0_TTj0b_MuMultiJet[-900.05]', 'R0_TTj0b_MuMultiJet[-0.7]', 'b_TTj0b_MuMultiJet[1.4]', 'n_TTj0b_MuMultiJet[3.5]',
	   	      #'MR0_TTj1b_MuMultiJet[-900.05]', 'R0_TTj1b_MuMultiJet[-0.7]', 'b_TTj1b_MuMultiJet[1.4]', 'n_TTj1b_MuMultiJet[3.5]',
           	      #'MR0_TTj2b_MuMultiJet[-480.84]', 'R0_TTj2b_MuMultiJet[-0.5]', 'b_TTj2b_MuMultiJet[1.4]', 'n_TTj2b_MuMultiJet[3.5]']
		      
combine_pdfs = ['RooRazor3DBinPdf::MuMultiJet_TTj0b(th1x,MR0_TTj0b_MuMultiJet,R0_TTj0b_MuMultiJet,b_TTj0b_MuMultiJet,n_TTj0b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::MuMultiJet_TTj1b(th1x,MR0_TTj1b_MuMultiJet,R0_TTj1b_MuMultiJet,b_TTj1b_MuMultiJet,n_TTj1b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::MuMultiJet_TTj2b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::MuMultiJet_TTj3b(th1x,MR0_TTj2b_MuMultiJet,R0_TTj2b_MuMultiJet,b_TTj2b_MuMultiJet,n_TTj2b_MuMultiJet,MR1_TTj3b_MuMultiJet,MRCut_MuMultiJet,RCut_MuMultiJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_MuMultiJet(MR1_TTj3b_MuMultiJet,MR1Mean_TTj3b_MuMultiJet,MR1Sigma_TTj3b_MuMultiJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_MuMultiJet*MuMultiJet_TTj0b,Ntot_TTj1b_MuMultiJet*MuMultiJet_TTj1b,Ntot_TTj2b_MuMultiJet*MuMultiJet_TTj2b,Ntot_TTj3b_MuMultiJet*MuMultiJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_MuMultiJet)']
	
#signal and plotting binning
signal_MR =  [400, 500, 600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.15,0.20,0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

[FourToSixJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[500.,600.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[600.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'MR0_TTj3b[-480.84]', 'R0_TTj3b[-0.5]', 'b_TTj3b[1.6]', 'n_TTj3b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj3b,R0_TTj3b,b_TTj3b,n_TTj3b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_FourToSixJet[1500.]','Ntot_TTj1b_FourToSixJet[1500.]', 'Ntot_TTj2b_FourToSixJet[700.]', 'Ntot_TTj3b_FourToSixJet[100.]',
	   	      'MRCut_FourToSixJet[500.]','RCut_FourToSixJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #initial parameters 		    
		      'MR0_TTj0b_FourToSixJet[-1020.05]', 'R0_TTj0b_FourToSixJet[-0.934]', 'b_TTj0b_FourToSixJet[6.48]', 'n_TTj0b_FourToSixJet[15.8]',
	   	      'MR0_TTj1b_FourToSixJet[-440.05]', 'R0_TTj1b_FourToSixJet[-0.476]', 'b_TTj1b_FourToSixJet[2.32]', 'n_TTj1b_FourToSixJet[5.3]',
           	      'MR0_TTj2b_FourToSixJet[-100.84]', 'R0_TTj2b_FourToSixJet[-0.5]', 'b_TTj2b_FourToSixJet[3.0]', 'n_TTj2b_FourToSixJet[10.8]',
           	      'MR1_TTj3b_FourToSixJet[5.3133e-04]', 'MR1Mean_TTj3b_FourToSixJet[5.3133e-04]', 'MR1Sigma_TTj3b_FourToSixJet[5.3133e-04]']
		     
		      
combine_pdfs = ['RooRazor3DBinPdf::FourToSixJet_TTj0b(th1x,MR0_TTj0b_FourToSixJet,R0_TTj0b_FourToSixJet,b_TTj0b_FourToSixJet,n_TTj0b_FourToSixJet,MRCut_FourToSixJet,RCut_FourToSixJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::FourToSixJet_TTj1b(th1x,MR0_TTj1b_FourToSixJet,R0_TTj1b_FourToSixJet,b_TTj1b_FourToSixJet,n_TTj1b_FourToSixJet,MRCut_FourToSixJet,RCut_FourToSixJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::FourToSixJet_TTj2b(th1x,MR0_TTj2b_FourToSixJet,R0_TTj2b_FourToSixJet,b_TTj2b_FourToSixJet,n_TTj2b_FourToSixJet,MRCut_FourToSixJet,RCut_FourToSixJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::FourToSixJet_TTj3b(th1x,MR0_TTj2b_FourToSixJet,R0_TTj2b_FourToSixJet,b_TTj2b_FourToSixJet,n_TTj2b_FourToSixJet,MR1_TTj3b_FourToSixJet,MRCut_FourToSixJet,RCut_FourToSixJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_FourToSixJet(MR1_TTj3b_FourToSixJet,MR1Mean_TTj3b_FourToSixJet,MR1Sigma_TTj3b_FourToSixJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_FourToSixJet*FourToSixJet_TTj0b,Ntot_TTj1b_FourToSixJet*FourToSixJet_TTj1b,Ntot_TTj2b_FourToSixJet*FourToSixJet_TTj2b,Ntot_TTj3b_FourToSixJet*FourToSixJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_FourToSixJet)']
	
#signal and plotting binning
signal_MR =  [500,600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

[SevenJet]
variables = ['MR[500.,500.,4000.]', 'Rsq[0.25,0.25,1.5]', 'nBtag[0.,0.,4.]']

variables_range = ['MR_LowRsq[500.,4000.]', 'Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[0.,4.]',
		   'MR_LowMR[500.,600.]', 'Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[0.,4.]',
		   'MR_HighMR[600.,4000.]', 'Rsq_HighMR[0.3,1.5]', 'nBtag_HighMR[0.,4.]']
		
parameters = ['MR0_TTj0b[-900.05]', 'R0_TTj0b[-0.7]', 'b_TTj0b[1.4]','n_TTj0b[3.7]',
	      'MR0_TTj1b[-900.05]', 'R0_TTj1b[-0.7]', 'b_TTj1b[1.4]','n_TTj1b[3.7]',
              'MR0_TTj2b[-480.84]', 'R0_TTj2b[-0.5]', 'b_TTj2b[1.6]', 'n_TTj2b[4.]',
              'MR0_TTj3b[-480.84]', 'R0_TTj3b[-0.5]', 'b_TTj3b[1.6]', 'n_TTj3b[4.]',
              'Ntot_TTj0b[1500.]', 'Ntot_TTj1b[1500.]', 'Ntot_TTj2b[700.]', 'Ntot_TTj3b[100.]']
		 
pdfs = ['RooRazor2DTail_SYS::razor2dPdf_TTj0b(MR,Rsq,MR0_TTj0b,R0_TTj0b,b_TTj0b,n_TTj0b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj1b(MR,Rsq,MR0_TTj1b,R0_TTj1b,b_TTj1b,n_TTj1b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj2b(MR,Rsq,MR0_TTj2b,R0_TTj2b,b_TTj2b,n_TTj2b)',
	'RooRazor2DTail_SYS::razor2dPdf_TTj3b(MR,Rsq,MR0_TTj3b,R0_TTj3b,b_TTj3b,n_TTj3b)',
	'RooBTagMult::btagPdf_TTj0b(nBtag,1,0,0,0)',
	'RooBTagMult::btagPdf_TTj1b(nBtag,0,1,0,0)',
	'RooBTagMult::btagPdf_TTj2b(nBtag,0,0,1,0)',
	'RooBTagMult::btagPdf_TTj3b(nBtag,0,0,0,1)',
	'PROD::razor3dPdf_TTj0b(razor2dPdf_TTj0b,btagPdf_TTj0b)',
	'PROD::razor3dPdf_TTj1b(razor2dPdf_TTj1b,btagPdf_TTj1b)',
	'PROD::razor3dPdf_TTj2b(razor2dPdf_TTj2b,btagPdf_TTj2b)',
	'PROD::razor3dPdf_TTj3b(razor2dPdf_TTj3b,btagPdf_TTj3b)',
	'SUM::extRazorPdf(Ntot_TTj0b*razor3dPdf_TTj0b,Ntot_TTj1b*razor3dPdf_TTj1b,Ntot_TTj2b*razor3dPdf_TTj2b,Ntot_TTj3b*razor3dPdf_TTj3b)']
	
combine_parameters = ['Ntot_TTj0b_SevenJet[1500.]','Ntot_TTj1b_SevenJet[1500.]', 'Ntot_TTj2b_SevenJet[700.]', 'Ntot_TTj3b_SevenJet[100.]',
	   	      'MRCut_SevenJet[500.]','RCut_SevenJet[0.25]',
	   	      'BtagCut_TTj0b[0]','BtagCut_TTj1b[1]','BtagCut_TTj2b[2]','BtagCut_TTj3b[3]',
		      #initial parameters 		    
		      'MR0_TTj0b_SevenJet[-1020.05]', 'R0_TTj0b_SevenJet[-0.934]', 'b_TTj0b_SevenJet[6.48]', 'n_TTj0b_SevenJet[15.8]',
	   	      'MR0_TTj1b_SevenJet[-440.05]', 'R0_TTj1b_SevenJet[-0.476]', 'b_TTj1b_SevenJet[2.32]', 'n_TTj1b_SevenJet[5.3]',
           	      'MR0_TTj2b_SevenJet[-100.84]', 'R0_TTj2b_SevenJet[-0.5]', 'b_TTj2b_SevenJet[3.0]', 'n_TTj2b_SevenJet[10.8]',
           	      'MR1_TTj3b_SevenJet[5.3133e-04]', 'MR1Mean_TTj3b_SevenJet[5.3133e-04]', 'MR1Sigma_TTj3b_SevenJet[5.3133e-04]']
		     
		      
combine_pdfs = ['RooRazor3DBinPdf::SevenJet_TTj0b(th1x,MR0_TTj0b_SevenJet,R0_TTj0b_SevenJet,b_TTj0b_SevenJet,n_TTj0b_SevenJet,MRCut_SevenJet,RCut_SevenJet,BtagCut_TTj0b)',
	        'RooRazor3DBinPdf::SevenJet_TTj1b(th1x,MR0_TTj1b_SevenJet,R0_TTj1b_SevenJet,b_TTj1b_SevenJet,n_TTj1b_SevenJet,MRCut_SevenJet,RCut_SevenJet,BtagCut_TTj1b)',
		'RooRazor3DBinPdf::SevenJet_TTj2b(th1x,MR0_TTj2b_SevenJet,R0_TTj2b_SevenJet,b_TTj2b_SevenJet,n_TTj2b_SevenJet,MRCut_SevenJet,RCut_SevenJet,BtagCut_TTj2b)',
	   	'RooRazor3DBinMRSlopePdf::SevenJet_TTj3b(th1x,MR0_TTj2b_SevenJet,R0_TTj2b_SevenJet,b_TTj2b_SevenJet,n_TTj2b_SevenJet,MR1_TTj3b_SevenJet,MRCut_SevenJet,RCut_SevenJet,BtagCut_TTj3b)',
		'RooGaussian::g_TTj3b_SevenJet(MR1_TTj3b_SevenJet,MR1Mean_TTj3b_SevenJet,MR1Sigma_TTj3b_SevenJet)',
		'SUM::extRazorPdfNoConst(Ntot_TTj0b_SevenJet*SevenJet_TTj0b,Ntot_TTj1b_SevenJet*SevenJet_TTj1b,Ntot_TTj2b_SevenJet*SevenJet_TTj2b,Ntot_TTj3b_SevenJet*SevenJet_TTj3b)',
		'PROD::extRazorPdf(extRazorPdfNoConst,g_TTj3b_SevenJet)']
	
#signal and plotting binning
signal_MR =  [500,600, 700, 900, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.30,0.41,0.52,0.64,1.5]
signal_nBtag = [0.,1.,2.,3.,4.]

